# Node
node_modules/
npm-debug.log
yarn-error.log

# Compiled output
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Angular cache
.angular/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# System files
.DS_Store
Thumbs.db
